/*
 * Copyright 2014-2017 Toradex AG
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	aliases {
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
	};

	aliases {
		/* the following, together with kernel patches, forces a fixed assignment
		   between device id and usdhc controller */
		/* i.e. the eMMC on usdhc3 will be /dev/mmcblk0 */
		mmc0 = &usdhc3; /* eMMC */
		mmc1 = &usdhc1; /* MMC1  4bit slot */
	};

	aliases {
		rtc1 = &snvs_rtc;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		wakeup {
			label = "Wake-Up";
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WAKEUP>;
			debounce-interval = <10>;
			gpio-key,wakeup;
		};
	};

	leds {
		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds_ixora>;

		led4-green {
			label = "LED_4_GREEN";
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		};

		led4-red {
			label = "LED_4_RED";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};

		led5-green {
			label = "LED_5_GREEN";
			gpios = <&gpio2 1 GPIO_ACTIVE_HIGH>;
		};

		led5-red {
			label = "LED_5_RED";
			gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
		};
	};

	v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <0>;
		mclk_source = <0>;
		status = "okay";
	};

	v4l2_cap_2 { // mipi-csi2 camera
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
		status = "okay";
	};

#if 0
	v4l2_out {
		compatible = "fsl,mxc_v4l2_output";
		status = "okay";
	};
#endif
};

&backlight {
#if 0 /* PWM polarity: if 1 is brightest */
	pwms = <&pwm4 0 5000000 0>;
#if 0 /* Fusion 7 needs 10kHz PWM frequency */
	pwms = <&pwm4 0 100000 0>;
#endif
#else /* PWM polarity: if 0 is brightest */
	pwms = <&pwm4 0 5000000 1>;
#endif
	brightness-levels = <0 4 8 16 32 64 128 255>;
	default-brightness-level = <6>;
	status = "okay";
};

/* Apalis SPI1 */
&ecspi1 {
	status = "okay";

	spidev0: spidev@1 {
		compatible = "toradex,evalspi";
		reg = <0>;
		spi-max-frequency = <18000000>;
	};
};

&can1 {
	status = "okay";
};

&can2 {
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};

&hdmi_cec {
	status = "okay";
};

&hdmi_core {
	status = "okay";
};

&hdmi_video {
	status = "okay";
};

/*
 * GEN1_I2C: I2C1_SDA/SCL - IR Sensor I2C
 */
&i2c1 {
	status = "okay";
};

/*
 * GEN2_I2C: I2C2_SDA/SCL - LED I2c
 */
&i2c2 {
	status = "okay";
};

/*
 * GEN3_I2C, CAM: I2C3_SDA/SCL - Pressure Sensor I2C
 */
&i2c3 {
	status = "okay";
};

&iomuxc {
	/*
	 * Mux the Apalis GPIOs.
	 * Note:
	 * - GPIO7 is used for PCIe reset
	 * - GPIO5, 6 are used by optional capacitive touch controller
	 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_apalis_gpio1 &pinctrl_apalis_gpio2
		     &pinctrl_apalis_gpio3 &pinctrl_apalis_gpio4
		     &pinctrl_apalis_gpio5 &pinctrl_apalis_gpio6
		     &pinctrl_apalis_gpio7 &pinctrl_apalis_gpio8>;

	pinctrl_leds_ixora: leds-ixora {
		fsl,pins = <
			MX6QDL_PAD_SD2_DAT1__GPIO1_IO14 PAD_CTRL_HYS_PU
			MX6QDL_PAD_SD2_DAT3__GPIO1_IO12 PAD_CTRL_HYS_PU
			MX6QDL_PAD_NANDF_D1__GPIO2_IO01 PAD_CTRL_HYS_PU
			MX6QDL_PAD_NANDF_D2__GPIO2_IO02 PAD_CTRL_HYS_PU
		>;
	};
};

&lcd {
	status = "okay";
};

&mipi_csi {
	ipu_id = <0>;
	csi_id = <1>;
	v_channel = <0>;
	lanes = <2>;
	status = "okay";
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&mxcfb3 {
	status = "okay";
};

&mxcfb4 {
	status = "okay";
};

&pcie {
	reset-ep-gpio = <&gpio1 28 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&reg_usb_otg_vbus {
	status = "okay";
};

&reg_usb_host_vbus {
	status = "okay";
};

&sata {
	status = "okay";
};

&sound_hdmi {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
#if 0
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-low;
	rs485-rx-during-tx;
#endif
};

&uart4 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

/* MMC1 */
&usdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc_cd>;
	bus-width = <4>;
	status = "okay";
};
